[Unit]
Description=pupmme sub panel
After=network.target

[Service]
Type=simple
ExecStart=/usr/local/bin/sui
Restart=on-failure
RestartSec=5s
StateDirectory=sub
StateDirectoryMode=0755
# 面板端口（默认 2053）
EnvironmentFile=-/etc/sub/config.env

[Install]
WantedBy=multi-user.target
